<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="FluentScheduler" version="3.1.45" targetFramework="net45" />
  <package id="Metrics.NET" version="0.2.4" targetFramework="net45" />
  <package id="ReliabilityPatterns" version="1.0.0.21" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
  <package id="Serilog" version="1.4.11" targetFramework="net45" />
  <package id="Serilog.Extras.Topshelf" version="1.4.11" targetFramework="net45" />
  <package id="Serilog.Sinks.Seq" version="1.4.11" targetFramework="net45" />
  <package id="Topshelf" version="3.1.4" targetFramework="net45" />
  <package id="Topshelf.Autofac" version="1.0.0" targetFramework="net45" />
</packages>